.box {

    background-color: #bed2ff;
    transition: box-shadow 0.4s ease;

}

.box:hover {
    box-shadow: 0 0 10px 5px rgba(195, 221, 255, 0.22);
}

.icon-bg{
    background-color: #282c34;
    color: white;
    border-radius: 12px;
    padding: 10px;
}

.dues-background {
    background-color: #c5f0fc;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.dues-background:hover {
    background-color: #a8ecff;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    box-shadow: 0 0 5px #97adb4;
}