body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.nav-style {
  background-color: #f9f8f8;
  box-shadow: 0 6px 6px -2px rgba(87, 145, 255, 0.11);
  z-index: 999;
  position: fixed;
  top: 0;
  display: flex;
}

.estimation-summary{
  display: flex;
  position: fixed;
  bottom: 0;
  background-color: white;
}

.collapsible-div {
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  max-height: 40px;
}

.collapsible-div.expanded {
  max-height: 300px;
}

.content {
  padding: 10px;
}

.left-align {
  text-align: left;
}